<h1>A seguinte mensagem foi enviada pelo site dos Ciclos da Vida:</h1><br><br>
<p><b>De:</b> <%= nome %></p>
<p><b>E-mail:</b> <%= email %></p>
<p><b>Data de Nascimento:</b> <%= dNasc %></p>
<p><b>Mensagem:</b><br>
<%= message %></p>
<br />
