<h1>Ol&aacute;, <%= nome %>!</h1><br>
<p>Voc&ecirc; recebeu este e-mail por ter solicitado o reset da sua senha no site do livro <a href='http://ciclos.coldfire.com.br'>Ciclos da Vida</a><br><br>
Para poder prosseguir com a altera&ccedil;&atilde;o de sua senha, por favor, clique <a href='http://ciclos.coldfire.com.br/confirma/<%= resetToken %>'>aqui</a></p>
<br />
<p>Por fins de seguran&ccedil;a, este email tem validade de uma hora!</p><br />
<p><b>ATEN&Ccedil;&Atilde;O:</b> Lembre-se que a utiliza&ccedil;&atilde;o do mapa dos Ciclos da Vida para fins comerciais ou "divinat&oacute;rios" &eacute; uma pr&aacute;tica extremamente desencorajada 
pelo autor. Estudar o seu mapa, aprender a reconhecer o seu estado de alma, e buscar o ponto de equil&iacute;brio com o <b>&uacute;nico prop&oacute;sito</b> de elevar a <b>sua consci&ecirc;ncia</b>. 
Caso tenha d&uacute;vidas, cr&iacute;ticas ou sugest&otilde;es, fique &agrave; vontade para entrar em contato com o autor por <a href="mailto:castrof@uol.com.br?cc=ciclosdavida@coldfire.com.br&subject=Mapa%20dos%20Ciclos%20da%20Vida">email</a>.</p>
<br />
