<h1>Hello, <%= nome %>!</h1><br>
<p>Voc&ecirc; recebeu este e-mail por ter se cadastrado para ter acesso ao seu <a href='http://ciclosdavida.coldfire.com.br'>Ciclo da Vida</a><br><br>
Para poder acess&aacute;-lo, por favor, confirme seu registro atrav&eacute;s deste <a href='http://ciclosdavida.coldfire.com.br/confirma/<%= resetToken %>'>link</a></p>
<br />
<p>Caso voc&ecirc; perca a sua senha, basta ir novamente ao site dos <a href='http://ciclosdavida.coldfire.com.br'>Ciclos da Vida</a> e clicar no bot&atilde;o para acessar o seu Mapa. L&aacute; haver&aacute; um link para que voc&ecirc; possa reinicializar a sua senha.</p><br />
<br />
<p>Tamb&eacute;m &eacute; importante ressaltar que a leitura pr&eacute;via do livro <i>Os Ciclos da Vida</i> &eacute; imprescind&iacute;vel para o entendimento do seu mapa! Em caso de d&uacute;vidas, n&atilde;o hesite em contactar o autor por <a href="mailto:castrof@uol.com.br?cc=ciclosdavida@coldfire.com.br&subject=Mapa%20dos%20Ciclos%20da%20Vida">email</a>.</p>
<br />
<p><b>ATEN&Ccedil;&Atilde;O:</b> Lembre-se que a utiliza&ccedil;&atilde;o do mapa dos Ciclos da Vida para fins comerciais ou "divinat&oacute;rios" &eacute; uma pr&aacute;tica extremamente desencorajada 
pelo autor. Estudar o seu mapa, aprender a reconhecer o seu estado de alma, e buscar o ponto de equil&iacute;brio com o <b>&uacute;nico prop&oacute;sito</b> de elevar a <b>sua consci&ecirc;ncia</b>. 
Caso tenha d&uacute;vidas, cr&iacute;ticas ou sugest&otilde;es, fique &agrave; vontade para entrar em contato por <a href="mailto:ciclosdavida@coldfire.com.br">e-mail</a>.</p>
<br />
